@charset "UTF-8";

body{
	padding:20px;
}

.container {
    max-width:1000px;
    border: solid 1px #FF773E;
    border-radius:5px 5px 5px 5px;
    padding: 15px;
}

.header {
    background: #FF773E;
    border-radius:5px 5px 5px 5px;
    padding: 15px;
    font-size: 25px;
}

td{
	padding: 5px;
}

.col_type_no {
	width: 10;
	text-align: center;
}

.col_type_date {
	width: 10;
	text-align: center;
}

.col_type_text_s {
	width: 10;
	text-align: left;
}

.col_type_text_m {
	width: 15;
	text-align: left;
}

.col_type_text_l {
	width: 30;
	text-align: left;
}